<!-- schedulepys/templates/add_workshop_form.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Workshop</title>
</head>
<body>
    <h1>Add Workshop</h1>
    <form action="{% url 'add_workshop' %}" method="post">
        {% csrf_token %}
        <label for="workshop_name">Workshop Name:</label>
        <input type="text" id="workshop_name" name="workshop_name"><br><br>
        <label for="workshop_date">Date:</label>
        <input type="date" id="workshop_date" name="workshop_date"><br><br>
        <label for="workshop_time">Hour:</label>
        <input type="time" id="workshop_time" name="workshop_time"><br><br>
        <label for="workshop_location">Location:</label>
        <input type="text" id="workshop_location" name="workshop_location"><br><br>
        <input type="submit" value="Add Workshop">
    </form>
</body>
</html>
