<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/extrainfopsya.css' %}">
    <style>
    </style>
</head>
<body>
  <nav>
        <div class="menu">
            <div class="logo">
                <a href="#">Extra Information</a>
            </div>
            <ul>
                <li><a href="{% url 'psychomepage' %}">Home</a></li>
                <li><a href="{% url 'add_extra_informationa_psy' %}">Add</a></li>
            </ul>
        </div>
    </nav>

    <h1>Extra Information</h1>
    <ul>
        {% for info in extra_info %}
        <li>
            <h2>{{ info.title }}</h2>
            <p>{{ info.content }}</p>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
